{# templates/admin/custom.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Main Street Fernley's Poker Run{% endblock %}

{% set user = app.user %}

{% block main %}

    {{ include('menus/playerbar.html.twig') }}

{# <pre>
{{ dump(user) }}
</pre> #}
    {% if user.location and user.location.isVerified() %}
        <div class="alert alert-success">
            <img class="me-2" src="{{ user.location.getCardStop().getLogo() }}" style="height: 50px; width: auto;"/>
            You are currently checked in at {{ user.location.getCardStop().getCardStopName() }}
        </div>
        {% if user.location.getFirstCard() %}
            <div class="alert alert-info">
                {% include 'player/card.html.twig' with { 'card': user.location.getFirstCard() } %}
                <div class="pcf text-start">
                    You Picked a {{ user.location.getFirstCard().getCardNumber().name|capitalize }} of {{ user.location.getFirstCard().getCardSuit().name|capitalize }}
                </div>
            </div>
        {% else %}
            <div class="alert alert-info">
                <a href="{{ path('app_pick_card') }}" class="btn btn-primary">Pick Your Card</a>
            </div>
        {% endif %}
    {% elseif user.location and not user.location.isVerified() %}
        <div class="alert alert-warning">
            <img class="me-2" src="{{ user.location.getCardStop().getLogo() }}" style="height: 50px; width: auto;"/>
            Your check-in at {{ user.location.getCardStop().getCardStopName() }} is pending verification. Please wait for a staff member to verify your check-in.
        </div>
    {% else %}
        <div class="alert alert-info">
            You are not currently checked in at any location.
            Please Check In at a card stop to participate in the Poker Run.
        </div>
    {% endif %}

    <!-- Display the user's poker hand if they have one -->
    <div class="container-fluid my-4">
        <h4 class="title">
            My Poker Hand:
            <small class="text-muted">
                {% if user.pokerHand %}
                    {{ user.pokerHand.getBestHandLabel() }}
                    <a href="{{ path('app_best_hand') }}" class="btn btn-sm btn-primary px-2">Select Best Hand</a>
                {% endif %}
            </small>
        </h4>
        <div class="row gx-1">
            {% set card1No = '1' %}
            {% if user.pokerHand and user.pokerHand.getCardOne() %}
                {% set card1img = user.pokerHand.getCardOne().getImage() %}
            {% else %}
                {% set card1img = 'images/PlayingCards/red-back.png' %}
            {% endif %}
            <div class="card poker-card">
                <div class="poker-card-body" style="background-image: url('{{ asset(card1img) }}');">

                </div>
                <div class="pcf">
                    {{ card1No }}
                </div>
            </div>
            {% set card2No = '2' %}
            {% if user.pokerHand and user.pokerHand.getCardTwo() %}
                {% set card2img = user.pokerHand.getCardTwo().getImage() %}
            {% else %}
                {% set card2img = 'images/PlayingCards/red-back.png' %}
            {% endif %}
            <div class="card poker-card">
                <div class="poker-card-body" style="background-image: url('{{ asset(card2img) }}');">

                </div>
                <div class="pcf">
                    {{ card2No }}
                </div>
            </div>
            {% set card3No = '3' %}
            {% if user.pokerHand and user.pokerHand.getCardThree() %}
                {% set card3img = user.pokerHand.getCardThree().getImage() %}
            {% else %}
                {% set card3img = 'images/PlayingCards/red-back.png' %}
            {% endif %}
            <div class="card poker-card">
                <div class="poker-card-body" style="background-image: url('{{ asset(card3img) }}');">

                </div>
                <div class="pcf">
                    {{ card3No }}
                </div>
            </div>
            {% set card4No = '4' %}
            {% if user.pokerHand and user.pokerHand.getCardFour() %}
                {% set card4img = user.pokerHand.getCardFour().getImage() %}
            {% else %}
                {% set card4img = 'images/PlayingCards/red-back.png' %}
            {% endif %}
            <div class="card poker-card">
                <div class="poker-card-body" style="background-image: url('{{ asset(card4img) }}');">

                </div>
                <div class="pcf">
                    {{ card4No }}
                </div>
            </div>
            {% set card5No = '5' %}
            {% if user.pokerHand and user.pokerHand.getCardFive() %}
                {% set card5img = user.pokerHand.getCardFive().getImage() %}
            {% else %}
                {% set card5img = 'images/PlayingCards/red-back.png' %}
            {% endif %}
            <div class="card poker-card">
                <div class="poker-card-body" style="background-image: url('{{ asset(card5img) }}');">

                </div>
                <div class="pcf">
                    {{ card5No }}
                </div>
            </div>
        </div>
    </div>
    <!-- Display the user's cards -->
    <div class="container-fluid my-4">
        <h4 class="title">All My Cards:</h4>
        <div class="row gx-1">
            {% if user.cardList|length > 0 %}
                {% for card in user.cardList %}
                    {% set cardimg = card.getImage() %}
                    <div class="card poker-card">
                        <div class="poker-card-body" style="background-image: url('{{ asset(cardimg) }}');">

                        </div>
                         <div class="pcf">
                            @ {{ card.getLocationName()|capitalize }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card poker-card">
                    <div class="poker-card-body"> </div>
                    <div class="pcf">No cards picked yet.</div>
                </div>
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
