{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Main Street Fernley.png') }}"/>
    </div>

    <div class="row text-center mx-5">
        <h1 class='my-5'>Welcome to Main Street Fernley's Poker Walk</h1>
        <div class="col-md-4 mx-auto">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, { attr: { autocomplete: 'on' } }) }}
                <div class="form-floating mb-4">
                    {{ form_widget(registrationForm.email, {
                        attr: {
                            autocomplete: 'email username',
                            placeholder: 'Email'
                        }
                    }) }}
                    {{ form_label(registrationForm.email, 'Email') }}
                </div>
                <div class="text-start mb-4">
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form-floating mb-4">
                    {{ form_widget(registrationForm.firstName, {
                        attr: {
                            placeholder: 'First name'
                        }
                    }) }}
                    {{ form_label(registrationForm.firstName, 'First name') }}
                </div>

                <div class="form-floating mb-4">
                    {{ form_widget(registrationForm.lastName, {
                        attr: {
                            placeholder: 'Last name'
                        }
                    }) }}
                    {{ form_label(registrationForm.lastName, 'Last name') }}
                </div>

                <div class="form-floating mb-4">
                    {{ form_widget(registrationForm.plainPassword, {
                        attr: {
                            autocomplete: 'new-password',
                            placeholder: 'Password'
                        }
                    }) }}
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

                 <!-- Register buttons -->
                <div class="text-center">
                    <p>Already registered? <a href="{{ path('app_login') }}">Login Here</a></p>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Poker Walk - Fernley Main Street.png') }}"/>
    </div>
{% endblock %}
