{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}">Logout</a>
        </div>
    {% endif %}


    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Main Street Fernley.png') }}"/>
    </div>
    <div class="row text-center mx-5">
        <h1 class='my-5'>Welcome to Main Street Fernley's Poker Walk</h1>
        <div class="col-md-4 mx-auto">
            <form action="{{ path('app_login') }}" method="post"  autocomplete="on">
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <div class="form-floating mb-4">
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email username _username" required autofocus>
                    <label class="form-label" for="username">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password password _password" required>
                    <label class="form-label" for="password">Password</label>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="{{ path('app_register') }}">Register</a></p>
                </div>
            </form>
        </div>
    </div>
    <div class='text-center'>
        <img class='my-2 img-fluid text-center' src="{{ asset('images/Poker Walk - Fernley Main Street.png') }}"/>
    </div>
{% endblock %}
